@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadPartial")
<body>

<!-- header -->
    <div class="header">
        <div class="container">
            @await Component.InvokeAsync("_TopAddressPartial")
            @await Component.InvokeAsync("_SocialMediaPartial")
            <div class="clearfix"> </div>
        </div>
    </div>
<!--Slider-->
    @await Component.InvokeAsync("_NavbarPartial")
<!--//Slider-->
<!--//Header-->


<!-- about -->
    @await Component.InvokeAsync("_AboutPartial")
<!-- //about-bottom -->

<!--sevices-->
    @await Component.InvokeAsync("_ServicePartial")
<!--//sevices-->

<!-- team -->
    @await Component.InvokeAsync("_TeamPartial")
<!-- //team -->

<!--blog -->
    @await Component.InvokeAsync("_AnnouncementPartial")
<!-- //blog -->

 <!--/gallery-->
    @await Component.InvokeAsync("_GaleryPartial")
<!--//gallery-->

<!--footer-->
    <div class="contact-agile" id="contact">
        <div class="container">
            @await Component.InvokeAsync("_AddressPartial")
            @await Html.PartialAsync("/Views/Default/SendMessage.cshtml")
        </div>
    </div>
    @await Component.InvokeAsync("_MapPartial")
    @await Component.InvokeAsync("_FooterSocialMediaPartial")

     <div class="copy">
         <p>© @DateTime.Now.Year In Harvest . Tüm Hakları Saklıdır | Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
     </div>
<!--/footer -->

    @await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>