@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "DetailsMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Mesaj Detay Sayfası</h4>
                    <form class="forms-sample">
                    <div class="form-group">
                    @Html.HiddenFor(x=>x.ContactId)
                      <label for="exampleInputName">Adı Soyadı</label>
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Lütfen Adınızı ve Soyadınızı Giriniz" asp-for="Name">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputMail">Mail Adresi</label>
                      <input type="text" class="form-control" id="exampleInputMail" placeholder="Lütfen Mail Adresinizi Giriniz" asp-for="EMail">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputDate">Tarih</label>
                      <input type="date" class="form-control" id="exampleInputDate" placeholder="Lütfen Tarih Giriniz" asp-for="Date">
                    </div>

                    <div class="form-group">
                     <label for="exampleTextarea">Açıklama</label>
                     <textarea class="form-control" id="exampleTextarea" rows="4" placeholder="Lütfen Mesajınızı Giriniz" asp-for="Message"></textarea>
                     </div>
                    <a href="/Contact/Index/" class="btn btn-light">Geri Dön</a>
                  </form>
                </div>
              </div>
            </div>



