@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<form method="post">
    <label>Meslek</label>
    <input type="text" name="Meslek" class="form-control" placeholder="Mesleğinizi Yazınız.." />
    <br />

    <label>Alan</label>
    <input type="text" name="Alan" class="form-control" placeholder="Alanınızı Yazınız.." />
    <br />

    <label>Açıklama</label>
    <input type="text" name="Aciklama" class="form-control" placeholder="Açıklmanızı Yazınız.." />
    <br />

    <label>Çalışma Tarihi</label>
    <input type="text" name="Tarih" class="form-control" placeholder="Tarih Yazınız.." />
    <br />

    <button type="submit" class="btn btn-info">KAYDET</button>
</form>

