@model AgriculturePresentation.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Profil Düzenleme Sayfası</h4>
                    <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label>Email Adresi</label>
                      <input type="email" class="form-control" placeholder="Lütfen Email Adresini Giriniz" asp-for="Email">
                    </div>
                   <div class="form-group">
                      <label>Telefon Numarası</label>
                      <input type="text" class="form-control" placeholder="Lütfen Telefon Numarası Giriniz" asp-for="Phone">
                    </div>
                     <div class="form-group">
                      <label>Şifre</label>
                      <input type="password" class="form-control" placeholder="Lütfen Yeni Şifre Giriniz" asp-for="Password">
                    </div>
                     <div class="form-group">
                      <label>Şifre Tekrar</label>
                      <input type="password" class="form-control" placeholder="Lütfen Şifre Tekrar Giriniz" asp-for="PasswordConfirm">
                    </div>
                    <button type="submit" class="btn btn-outline-info me-2">Değişiklikleri Kaydet</button>
                     <a href="/Admin/Index/" class="btn btn-light">Vazgeç</a>
                  </form>
                </div>
              </div>
            </div>

