
<section class="resume-section" id="contact">
    <div class="resume-section-content">

        <form method="post" asp-action="_ContactPartial">
            <h2 class="mb-5">Contact</h2>

            <div class="form-group">
                <label for="AdSoyad">Ad Soyad</label>
                <input type="text" class="form-control" id="AdSoyad" name="AdSoyad" required>
            </div>

            <div class="form-group">
                <label for="Mail">Email</label>
                <input type="email" class="form-control" id="Mail" name="Mail" required>
            </div>

            <div class="form-group">
                <label for="Konu">Konu</label>
                <input type="text" class="form-control" id="Konu" name="Konu" required>
            </div>

            <div class="form-group mb-5">
                <label for="Mesaj">Mesaj</label>
                <textarea class="form-control" id="Mesaj" name="Mesaj" rows="5" required></textarea>
            </div>

            <button type="submit" class="btn btn-info">Mesaj Gönder</button>
        </form>
    </div>
</section>