@model EntityLayer.Concrete.Team

@{
    ViewData["Title"] = "UpdateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Takım Arkadaşı Bilgi Güncelleme Sayfası</h4>
                    <form class="forms-sample" method="post">
                    <div class="form-group">
                        @Html.HiddenFor(x=>x.TeamId)
                      <label for="exampleInputName">Adı Soyadı</label>
                      <span asp-validation-for="PersonName" class="text-danger"></span>
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Lütfen Adı ve Soyadı Giriniz" asp-for="PersonName">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputTitle">Görev</label>
                      <span asp-validation-for="Title" class="text-danger"></span>
                      <input type="text" class="form-control" id="exampleInputTitle" placeholder="Lütfen Görev Giriniz" asp-for="Title">
                    </div>
                   <div class="form-group">
                      <label for="exampleInputImage">Görsel Linki</label>
                      <span asp-validation-for="ImageUrl" class="text-danger"></span>
                      <input type="text" class="form-control" id="exampleInputImage" placeholder="Lütfen Görsel Linkini Giriniz" asp-for="ImageUrl">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputFacebook">Facebokk</label>
                      <input type="text" class="form-control" id="exampleInputFacebook" placeholder="Lütfen Facebok Linkini Giriniz" asp-for="FacebookUrl">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputInstagram">Instagram</label>
                      <input type="text" class="form-control" id="exampleInputInstagram" placeholder="Lütfen Instagram Linkini Giriniz" asp-for="InstagramUrl">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputTwitter">Twitter</label>
                      <input type="text" class="form-control" id="exampleInputTwitter" placeholder="Lütfen Twitter Linkini Giriniz" asp-for="TwitterUrl">
                    </div>
                     <div class="form-group">
                      <label for="exampleInputWeb">Web Sitesi</label>
                      <input type="text" class="form-control" id="exampleInputWeb" placeholder="Lütfen Web Sitesi Linkini Giriniz" asp-for="WebSiteUrl">
                    </div>
                    <button type="submit" class="btn btn-outline-success me-2">Değişiklikleri Kaydet</button>
                    <button class="btn btn-light">Vazgeç</button>
                  </form>
                </div>
              </div>
            </div>



